Features to add:

1.  The user should be able to switch the transliteration direction:
    Indic-->Romanized and Romanized-->Indic.
2.  The user should be able to generate Devanagari and Tamil script from romanized script.
3.  The app should provide the option to generate Devanagari or Tamil script in real time 
    as romanized text is being typed.


