html {
  font-family: 'Source Serif Pro', serif;
}

body {

}

h1 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 30px;
  text-align: center;
}

#script-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-field-container {
  display: inline-block;
  margin-bottom: 20px;
}

#target-text label {
  display: block;
  width: 120px;
  height: 25px;
  margin-bottom: 15px;
}

textarea {
  display: block;
  width: 700px;
  height: 200px;
  resize: none;
}

#swap-direction {
  cursor: pointer;
  margin: 0 15px;
}

#indic-lang-select {
  font: inherit;
  width: 120px;
  height: 25px;
  margin-bottom: 15px;
}

#indic-input {
  font-family: 'Noto Sans Devanagari', sans-serif;
  font-size: 28px;
  padding: 10px;
}

#romanized-input {
  font-family: inherit;
  font-size: 23px;
  line-height: 35px;
  padding: 10px;
}

#romanize-btn {
  display: block;
  width: 150px;
  height: 30px;
  margin: 0 auto;
}