html {
  font-family: 'Gentium Basic', serif;
}

h1 {
  font-family: sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 8px;
}

textarea {
  display: block;
  width: 700px;
  height: 200px;
  resize: none;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.text-field {
  display: inline-block;
}

#lang-select {
  padding-bottom: 20px;
}

#indic-lang-select {
  width: 120px;
  height: 25px;
}

#indic-input {
  font-family: 'Hind Madurai', sans-serif; 
}

#romanized-input {
  font-family: inherit;
  line-height: 38px;
}

#romanize-btn {
  display: block;
}